@{
    ViewData["Title"] = "Error500";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<div class="text-center">
    <div class="error-code page-title mb-3">500</div>
    <h3 class="mb-4">
        <div class="badge bg-danger">Internal Server Error !</div>
    </h3>
    <p class="lead">Something went wrong and server couldn't process your request.</p>
</div>