@{
    ViewData["Title"] = "Error500";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<div class="text-center">
    <div class="error-code page-title mb-3">404</div>
    <h3 class="mb-4">
        <div class="badge bg-info">Page not found !</div>
    </h3>
    <p class="lead">Sorry, but the page you are looking for has not been found on our server.</p>
</div>
