@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <meta name="description" content="The login page allows a user to gain access to an application by entering their username and password or by authenticating using a social media login.">
    <title>Login | Nifty - Admin Template</title>

    <!-- STYLESHEETS -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~--- -->
    <!-- Fonts [ OPTIONAL ] -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS [ REQUIRED ] -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Nifty CSS [ REQUIRED ] -->
    <link rel="stylesheet" href="~/css/nifty.css" asp-append-version="true" />

    <!-- Nifty Demo Icons [ OPTIONAL ] -->
    @*<link rel="stylesheet" href="~/vendors/demo-icons/demo-icons.min.css" />*@

    <link rel="stylesheet" href="~/vendors/fontawesome/css/all.css" />
    <link rel="stylesheet" href="~/css/login.css" />

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~---

    [ REQUIRED ]
    You must include this category in your project.


    [ OPTIONAL ]
    This is an optional plugin. You may choose to include it in your project.


    [ DEMO ]
    Used for demonstration purposes only. This category should NOT be included in your project.


    [ SAMPLE ]
    Here's a sample script that explains how to initialize plugins and/or components: This category should NOT be included in your project.


    Detailed information and more samples can be found in the documentation.

    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~--- -->
</head>

@*<body style="background-image: url('../img/mars-01.jpg');">*@
<body>

    <!-- PAGE CONTAINER -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div id="root" class="root front-container">

        <!-- CONTENTS -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <section id="content" class="content">
            <div class="content__boxed w-100 min-vh-100 d-flex flex-column align-items-center justify-content-center">
                <div class="content__wrap">

                    <!-- Login card -->
                    <div class="card shadow-lg">
                        <div class="card-body">

                            <div class="text-center">
                                <h1 class="h3">Forgot password</h1>
                                <p>Enter your email address to recover your password.</p>
                            </div>

                            <form class="mt-4" action="index.html">

                                <div class="mb-3">
                                    <input type="email" class="form-control" placeholder="Email" autofocus>
                                </div>

                                <div class="d-grid mt-5">
                                    <button class="btn btn-warning btn-lg" type="submit">Reset Password</button>
                                </div>
                            </form>

                            <div class="text-center mt-3">
                                <a href="@Url.Action("Login", "Account")" class="btn-link text-decoration-none">Back to login</a>
                            </div>

                        </div>
                    </div>
                    <!-- END : Login card -->
                </div>
            </div>
        </section>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- END - CONTENTS -->
    </div>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- END - PAGE CONTAINER -->
    <!-- JAVASCRIPTS -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- Popper JS [ OPTIONAL ] -->
    <script src="~/vendors/popperjs/popper.min.js"></script>

    <!-- Bootstrap JS [ OPTIONAL ] -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


    <!-- Nifty JS [ OPTIONAL ] -->
    <script src="~/lib/nifty/nifty.min.js"></script>

    <!-- Nifty Settings [ DEMO ] -->
    <script src="~/js/demo/demo-purpose-only.min.js"></script>


</body>

</html>
