<!-- Navigation Category -->
<div class="mainnav__categoriy py-3">
    <h6 class="mainnav__caption mt-0 px-3 fw-bold">Navigation</h6>
    <ul class="mainnav__menu nav flex-column">

        <!-- Link with submenu -->
        <li class="nav-item has-sub">

            <a href="#" class="mininav-toggle nav-link active">
                <i class="demo-pli-home fs-5 me-2"></i>
                <span class="nav-label ms-1">Dashboard</span>
            </a>

            <!-- Dashboard submenu list -->
            <ul class="mininav-content nav collapse ">
                <li class="nav-item">
                    <a href="./index.html" class="nav-link">Dashboard 1</a>
                </li>
                <li class="nav-item">
                    <a href="./dashboard-2.html" class="nav-link">Dashboard 2</a>
                </li>
            </ul>
            <!-- END : Dashboard submenu list -->

        </li>
        <!-- END : Link with submenu -->
        <!-- Link with submenu -->
        <li class="nav-item has-sub">

            <a href="#" class="mininav-toggle nav-link collapsed">
                <i class="demo-pli-split-vertical-2 fs-5 me-2"></i>
                <span class="nav-label ms-1">Layouts</span>
            </a>

            <!-- Layouts submenu list -->
            <ul class="mininav-content nav collapse">
                <li class="nav-item">
                    <a href="./layouts-mini-navigation.html" class="nav-link">Mini Navigation</a>
                </li>
                <li class="nav-item">
                    <a href="./layouts-push-navigation.html" class="nav-link">Push Navigation</a>
                </li>
                <li class="nav-item">
                    <a href="./layouts-slide-navigation.html" class="nav-link">Slide Navigation</a>
                </li>

            </ul>
            <!-- END : Layouts submenu list -->

        </li>
        <!-- END : Link with submenu -->
        <!-- Regular menu link -->
        <li class="nav-item">
            <a href="./widgets.html" class="nav-link mininav-toggle">
                <i class="demo-pli-gear fs-5 me-2"></i>

                <span class="nav-label mininav-content ms-1">Widgets</span>
            </a>
        </li>
        <!-- END : Regular menu link -->

    </ul>
</div>
<!-- END : Navigation Category -->
<!-- Components Category -->
<div class="mainnav__categoriy py-3">
    <h6 class="mainnav__caption mt-0 px-3 fw-bold">Components</h6>
    <ul class="mainnav__menu nav flex-column">

        <!-- Link with submenu -->
        <li class="nav-item has-sub">

            <a href="#" class="mininav-toggle nav-link collapsed">
                <i class="demo-pli-boot-2 fs-5 me-2"></i>
                <span class="nav-label ms-1">Ui Elements</span>
            </a>

            <!-- Ui Elements submenu list -->
            <ul class="mininav-content nav collapse">
                <li class="nav-item">
                    <a href="./ui-elements-progress.html" class="nav-link">Progress</a>
                </li>
                <li class="nav-item">
                    <a href="./ui-elements-placeholders.html" class="nav-link d-flex align-items-center">Placeholders<span class="badge bg-danger ms-auto">NEW</span></a>
                </li>
                <li class="nav-item">
                    <a href="./ui-elements-tabs-and-accordions.html" class="nav-link">Tabs &amp; Accordions</a>
                </li>
                <li class="nav-item">
                    <a href="./ui-elements-components.html" class="nav-link">Components</a>
                </li>
                <li class="nav-item">
                    <a href="./ui-elements-tooltips-and-popover.html" class="nav-link">Tooltips &amp; Popover</a>
                </li>

            </ul>
            <!-- END : Ui Elements submenu list -->

        </li>
        <!-- END : Link with submenu -->
        <!-- Link with submenu -->
        <li class="nav-item has-sub">

            <a href="#" class="mininav-toggle nav-link collapsed">
                <i class="demo-pli-pen-5 fs-5 me-2"></i>
                <span class="nav-label ms-1">Forms</span>
            </a>

            <!-- Forms submenu list -->
            <ul class="mininav-content nav collapse">
                <li class="nav-item">
                    <a href="./forms-general.html" class="nav-link">General</a>
                </li>
                <li class="nav-item">
                    <a href="./forms-tags.html" class="nav-link">Tags</a>
                </li>
                <li class="nav-item">
                    <a href="./forms-date-time-picker.html" class="nav-link">Date Time Picker</a>
                </li>
            </ul>
            <!-- END : Forms submenu list -->

        </li>
        <!-- END : Link with submenu -->

    </ul>
</div>
<!-- END : Components Category -->